@{
    ViewData["Title"] = "Trang chủ";
}


<!--================Welcome Area =================-->
<section class="welcome_bakery_area pink_cake_feature">
    <div class="container">
        <div class="cake_feature_inner">
            <div class="title_view_all">
                <div class="float-left">
                    <div class="main_w_title">
                        <h2>Our Featured Cakes</h2>
                        <h5> Seldolor sit amet consect etur</h5>
                    </div>
                </div>
                <div class="float-right">
                    <a asp-controller="Home" asp-action="Cake" class="pest_btn" >View all Products</a>
                </div>
            </div>
            <div class="cake_feature_slider owl-carousel">
                <div class="item">
                    <div class="cake_feature_item">
                        <div class="cake_img">
                            <img src="~/img/cake-feature/c-feature-1.jpg" alt="">
                        </div>
                        <div class="cake_text">
                            <h4>$29</h4>
                            <h3>Strawberry Cupcakes</h3>
                            <a class="pest_btn" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cake_feature_item">
                        <div class="cake_img">
                            <img src="~/img/cake-feature/c-feature-2.jpg" alt="">
                        </div>
                        <div class="cake_text">
                            <h4>$29</h4>
                            <h3>Strawberry Cupcakes</h3>
                            <a class="pest_btn" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cake_feature_item">
                        <div class="cake_img">
                            <img src="~/img/cake-feature/c-feature-3.jpg" alt="">
                        </div>
                        <div class="cake_text">
                            <h4>$29</h4>
                            <h3>Strawberry Cupcakes</h3>
                            <a class="pest_btn" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="cake_feature_item">
                        <div class="cake_img">
                            <img src="~/img/cake-feature/c-feature-4.jpg" alt="">
                        </div>
                        <div class="cake_text">
                            <h4>$29</h4>
                            <h3>Strawberry Cupcakes</h3>
                            <a class="pest_btn" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Welcome Area =================-->
<!--================New Arivals Area =================-->
<section class="new_arivals_area p_100">
    <div class="container">
        <div class="single_pest_title">
            <h2>New Arrivals</h2>
        </div>
        <div class="row arivals_inner">
            <div class="col-lg-6 col-sm-7">
                <div class="arivals_chocolate">
                    <div class="arivals_pic">
                        <img class="img-fluid" src="~/img/cake-feature/arivals-pic.jpg" alt="">
                        <div class="price_text">
                            <h5>$39</h5>
                        </div>
                    </div>
                    <div class="arivals_text">
                        <h4>Chocolate <span>Crumble</span></h4>
                        <a href="#">Mine cup</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="arivals_slider owl-carousel">
                    <div class="item">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="~/img/cake-feature/arivals-1.jpg" alt="">
                            </div>
                            <div class="cake_text">
                                <h4>$29</h4>
                                <h3>Strawberry Cupcakes</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="~/img/cake-feature/arivals-2.jpg" alt="">
                            </div>
                            <div class="cake_text">
                                <h4>$29</h4>
                                <h3>Chocolate Cupcakes</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="~/img/cake-feature/arivals-1.jpg" alt="">
                            </div>
                            <div class="cake_text">
                                <h4>$29</h4>
                                <h3>Strawberry Cupcakes</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="~/img/cake-feature/arivals-2.jpg" alt="">
                            </div>
                            <div class="cake_text">
                                <h4>$29</h4>
                                <h3>Chocolate Cupcakes</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End New Arivals Area =================-->