

﻿
@{
    Layout="";
 ViewData["Title"] = "Sign Up";
    @model Eshop.Models.Account;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Sign Up</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
    <style>

        .page-content--bge5 {
            height: auto;
        }

        .page-content--bge5 {
            height: auto;
        }
    </style>

</head>

<body class="animsition">

    <div class="page-wrapper" style="background-color:#fbd7cf">
        <div class="page-content--bge5" style="background-color:#fbd7cf">
            <div style="background-color:#fbd7cf">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img src="~/img/icon/cakelogo.png" width="250" height="250" alt="Cake">
                            </a>
                        </div>
                        <div class="login-form">
                            <form asp-controller="Home" asp-action="SignUp" method="post">
                                <div class="form-group">
                                    <label asp-for="Username">Tên đăng nhập</label>
                                    <input asp-for="Username" class="au-input au-input--full" type="text" name="username" placeholder="Tên đăng nhập...">
                                    <span style="color:red">@ViewBag.SignUpUsernameFailMessage</span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email">Email</label>
                                    <input asp-for="Email" class="au-input au-input--full" type="email" name="email" placeholder="Email...">

                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone">Điện thoại</label>
                                    <input asp-for="Phone" class="au-input au-input--full" type="text" name="phone" placeholder="0123456789">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address">Địa chỉ</label>
                                    <input asp-for="Address" class="au-input au-input--full" type="text" name="address" placeholder="Địa chỉ...">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Fullname">Họ tên</label>
                                    <input asp-for="Fullname" class="au-input au-input--full" type="text" name="fullname" placeholder="Họ và tên">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Mật khẩu</label>
                                    <input asp-for="Password" class="au-input au-input--full" type="password" name="password" placeholder="Mật khẩu...">

                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Mật khẩu</label>
                                    <input class="au-input au-input--full" type="password" name="confirmpassword" placeholder="Xác nhận mật khẩu...">
                                    <span style="color:red">@ViewBag.ConfirmPasswordError</span>
                                </div>



                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign up</button>


                            </form>

                            <div class="register-link">
                              


                                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign up</button>


                                    <div class="register-link">
                                        <p>


                                            <a asp-controller="Home" asp-action="Login">You have an Account ? Login here !</a>
                                        </p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Jquery JS-->
        <!-- Bootstrap JS-->
        <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/vendor/slick/slick.min.js"></script>
        <script src="~/vendor/wow/wow.min.js"></script>
        <script src="~/vendor/animsition/animsition.min.js"></script>
        <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/vendor/counter-up/jquery.counterup.min.js"></script>
        <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/vendor/select2/select2.min.js"></script>

        <!-- Main JS-->
        <script src="~/js/main.js"></script>

</body>

</html>
<!-- end document-->